.form-checkout form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
.form-checkout form input {
  width: 50%;
  height: 40px;
  border-radius: 10px;
}
h1 {
  padding: 20px;
  display: flex;
  justify-content: center;
}
