.navbar-container {
  background-color: #505295;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 20px;
}
.logo {
  width: 300px;
  height: 5em;
  object-fit: contain;
}
.navbar-list {
  display: flex;
  gap: 30px;
}
.navbar-list a {
  text-decoration: none;
  color: #ffc7ed;
  font-weight: bold;
}
