.navbar-container {
  background-color: #102c57;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}
.logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.navbar-list {
  list-style: none;
  display: flex;
  color: orange;
  gap: 20px;
  font-weight: bold;
}
